#eligenos {
  padding: 4rem 1rem;
  background-color: var(--background-color-secundario);
  text-align: center;
}

#eligenos .razones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}

.razones > div {
  max-width: 500px;
  flex-grow: 1;
}

#eligenos h2 {
  margin-bottom: 1em;
  color: var(--color-principal-900);
}

#eligenos .number-container {
  position: relative;
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
  color: var(--color-principal-600);
  margin-bottom: 1rem;
  padding: 30px;
}

#eligenos .number-container::before {
  position: absolute;
  aspect-ratio: 1/1;
  content: "";
  z-index: 5;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  border: 3px solid var(--color-principal-400);
}

#eligenos .razon {
  color: var(--color-principal-900);
  margin-bottom: 1rem;
}

#eligenos p {
  color: var(--color-principal-900);
}

@media (max-width: 1600px) {
  .razones > div {
    max-width: 350px;
  }
}

@media (max-width: 1150px) {
  .razones > div {
    max-width: 300px;
  }
}

@media (max-width: 1000px) {
  .razones > div {
    max-width: 260px;
  }
}
