#servicios {
  padding: 0 1rem;
}

#servicios h2 {
  text-align: center;
  margin: 2rem 0 0.4rem 0;
  color: var(--color-titulo-primario);
}

#servicios > p {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  color: var(--color-texto-primario);
  margin-bottom: 3rem;
}

.cursos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}

@media (max-width: 870px) {
  .cursos {
    gap: 0.5rem;
  }
}
