:root {
  --color-principal-50: #fcf5f4;
  --color-principal-100: #faeae9;
  --color-principal-200: #f5d6d7;
  --color-principal-300: #edb4b5;
  --color-principal-400: #e28a8e;
  --color-principal-500: #d36067;
  --color-principal-600: #be404f;
  --color-principal-700: #9f3141;
  --color-principal-800: #912f40;
  --color-principal-900: #732837;
  --color-principal-950: #3f121a;

  --background-color: #f1f2f6;
  --background-color-secundario: #f5d6d7;
  --background-dark-color: #111;

  --color-titulo-primario: #be404f;
  --color-texto-primario: #e28a8e;

  --tamano-titulo-banner: clamp(2.5rem, 2.188rem + 1.348vw, 4rem);
  --tamano-titulo: clamp(1.7rem, 1.326rem + 1vw, 3.5rem);
  --tamano-titulo-2: clamp(1.3rem, 1.051rem + 0.579vw, 2.5rem);

  --tamano-texto: clamp(1rem, 0.834rem + 0.319vw, 1.8rem);
  --tamano-texto-nav: clamp(0.9rem, 0.361rem + 0.773vw, 1.4rem);

  --color-fondo-tarjeta-equipo: #be404f13;
  --color-borde-tarjeta-equipo: #be404f81;

  --background-footer: #111;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
}

.main {
  padding: 2rem 0;
}

.main > * {
  margin-bottom: 6rem;
}

a {
  text-decoration: none;
}

.titulo {
  font-size: var(--tamano-titulo);
}

.titulo-secundario {
  font-size: var(--tamano-titulo-2);
}

.texto-primario {
  font-size: var(--tamano-texto);
}

.texto-nav {
  font-size: var(--tamano-texto-nav);
}
